fastapi==0.115.2
uvicorn==0.32.0
SQLAlchemy==2.0.38
alembic==1.17.0
pydantic==2.9.2
psycopg2-binary==2.9.10
python-dotenv==1.0.1
requests==2.32.3
loguru==0.7.2
apscheduler==3.10.4
passlib[bcrypt]==1.7.4
